{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container-fluid bg-1 text-center">
<h4>OUT OF SCOPE</h4>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 shadow p-3 mb-5 rounded">
            <br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col-sm-2">

        </div>
        <!-- <div class="col-sm-8 shadow p-3 mb-5 bg-white rounded main-content">-->


    </div>
    </div>



</div>



    {% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}


